.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.title {
    border: 2px solid #000;
    width: 65%;
    margin: 10px 0px;
    padding: 5px;
    word-wrap: break-word;
}
  
.half-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.partner {
  width: 80px;
}
  
.partnerlogopng {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
  
.partner-name {
  margin: 0px 20px;
  font-weight: 600;
}

.partner-name p {
  margin-bottom: 0px;
}
  
.postula-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  box-shadow: 3px 3px 3px #888;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
  
.postula-container:hover {
  transform: scale3d(1.03, 1.03, 1.01);
}

.postula-button {
  font-size: 21px;
  text-decoration: underline;
  font-weight: 700;
  border: none;
}
  
/* Country text */
.country-container {
  display: flex;
  justify-content: center;
}
  
.country {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 260px;
 }
  
.country p {
  margin-bottom: 0px;
}