.PostulantesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction : column;
}

.HeadersContainer {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  position: relative;
}

.PTitleContainer {
  padding-left: 50px;
  margin-top: 30px;
  width: 100%;
}
