.MisPuestosDeTrabajoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction : column;
}

.HeaderContainer {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  position: relative;
}

.MPDTBodyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction : column;
  align-items: center;
  border-top: 2px solid red;
}

.MPDTFiltersContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .MPDTBodyContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
  }

  .MPDTFiltersContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MPDTJobsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.MPDTJobsContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NumeroDeEmpleos {
  position: relative;
}