.form-editar-empresa .profile-title {
  display: flex;
  justify-content: center;
}

.form-editar-empresa .form-div {
  max-width: 100%;
}

.form-editar-empresa .form-div .form-group .col-sm-10 .box-photo {
  display: flex;
}

.form-editar-empresa .form-div .form-group {
  display: flex;
  justify-content: center;
  text-align: end;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .form-editar-empresa .form-div .form-group .col-form-label {
    margin-right: 70px;
  }
}

@media (max-width: 576px) {
  .form-editar-empresa .form-div .form-group .col-form-label {
    margin-right: 0px;
  }

  .form-editar-empresa .form-div .form-group {
    text-align: center;
  }
}

.form-editar-empresa .form-div .form-group .col-sm-10 {
  width: 400px;
}

.form-editar-empresa .form-div .form-group .form-control {
  border: 3px solid #000;
}

.form-editar-empresa .form-div .form-group .select-travel-div {
  width: 400px;
}


.form-editar-empresa .form-div .form-group .text-div {
  width: 400px;
}

.form-editar-empresa .form-div .form-form .div-button-create-partner {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-top: 20px;
}