.TrabajosDeCadaEmpresaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction : column;
}

.HeaderContainer {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  position: relative;
}

.TablaTrabajosPorEmpresaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction : row;
  border-top: 2px solid black;
}
