body {
  background-color: #F1F2F2;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #eee;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
