/* PuestoInfo (description) */
.student-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.student-info-container .description-container {
  max-width: 100%;
  width: 1000px;
}
  
.student-info-container .description-container .description-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border: 2px solid #000;
}
  
.student-info-container .description-container .description-title p {
  margin-bottom: 0;
}
  
.student-info-container .description-container .description-content {
  border: 2px solid #000;
  border-top: 0px;
  padding: 5px;
  white-space: pre-line;
  word-wrap: break-word;
}
  
.student-info-container .description-container .description-content p {
  line-height: 40px;
}
  
.student-info-container .requirements-container {
  max-width: 100%;
  width: 1000px;
}
  
.student-info-container .requirements-container .requirements-title {
  justify-content: flex-start;
  padding: 5px;
  border: 2px solid #000;
  border-top: 0px;
}
  
.student-info-container .requirements-container .requirements-title p {
  margin-bottom: 0;
}
  
.student-info-container .requirements-container .requirements-content {
  padding: 5px;
  border: 2px solid #000;
  border-top: 0px;
  margin-bottom: 10px;
}
  
.student-info-container .requirements-container .requirements-content p {
  line-height: 40px;
}