.OneJobeEmpresa {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  border: 2px solid black;
  flex-direction: column;
  padding: 10px;
}


.NoDisponible {
  color: red;
  font-size:x-large;
}

.Disponible {
  color: rgb(37, 37, 243);
  font-size: x-large;
}


.GroupOfButtons {
  margin-top: 10px;
}

/*Para el grupo de botones*/
.GroupOfButtons button {
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
}

.VerButton {
  background-color: #eaf513; /* Green background */
  border: 1px solid black; /* Green border */
}

.VerButton:hover {
  cursor:pointer;
  transform: scale(1.1);
}

.EditarButton {
  background-color:forestgreen; /* Green background */
  border: 1px solid black; /* Green border */
}

.EditarButton:hover {
  cursor:pointer;
  transform: scale(1.1);
}

.EliminarButton {
  background-color:rgb(233, 69, 69); /* Green background */
  border: 1px solid black; /* Green border */
}

.EliminarButton:hover {
  cursor:pointer;
  transform: scale(1.1);
}

.PostulantesButton {
  background-color:lavenderblush; /* Green background */
  border: 1px solid black; /* Green border */
}

.PostulantesButton:hover {
  cursor:pointer;
  transform: scale(1.1);
}

/*Para el grupo de botones*/