.ItemContainer {
  display: flex;
  width: 20%;
  max-height: 410px;
  margin: 15px;
  flex-direction: column;
  border: 2px solid black;
}

.POneJobeEmpresa {
  overflow: auto;
  max-height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.POneJobeEmpresa::-webkit-scrollbar {
  width: 7px;
}


.POneJobeEmpresa::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

.PCVButton {
  min-height: 10%;
  margin: 0px;
  padding: 0px;
  align-content: center;
  word-wrap: break-word
}

.PPhotoStudent {
  max-width: 30%;
  align-self: center;
  margin-bottom: 20px;
}